/* Nth child selectors */
.list li:first-child {
    color: red;
}

.list li:last-child {
    color: rosybrown;
}

.list li:nth-child(2) {
    color: royalblue;
}

/* background image tags */
.content-container {
    background-image: url(../images/mobile-tech.jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    text-align: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Gradient properties */
/* Linear gradient */
.gradient-container {
    width: 500px;
    height: 300px;
    background: linear-gradient(to right, red, blue, green, lightblue);
    /* background: linear-gradient(120deg, rgb(240, 67, 67), rgba(240, 67, 67,0)); */
}

/* Radial Gradient */
.radial-gradient-container {
    width: 500px;
    height: 300px;
    /* background: radial-gradient(red, blue, green); */
    background: radial-gradient(circle,red 20%, blue 30%, green 50%);
}

/* Font size rem */
.font-px {
    font-size: 16px;
}

.font-rem {
    font-size: 1rem;
}

.parent-container {
    background-color: wheat;
    margin: 10px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

.child-container {
    width: 100px;
    background-color: teal;
    margin: 10px;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mb-500 {
    margin-bottom: 1000px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto; 
    background-color: whitesmoke;
    justify-content: center;
}

.grid-image-container {
    object-fit: cover;
    margin: 10px;
}